.footer__column-link_type_vk {
  background-image: url('../../../../images/vk_color_white.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 26px;
}
